.right-top{
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between  ;
    top: 0;
    /* background-color: #0e253c; */
    height: 100px;
    border: none;
   
}
.right{
    margin: 5px;
    border-radius: 25px;
    width: 1370px;
}

.right-arrow{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    /* border: white; */
    border-style: solid;
    border-width: 2px;

}
.left-arrow{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    scale: -1;
    /* border: white; */
    border-style: solid;
    border-width: 2px;
   margin-right: 10px;
}

.navigation-left{
    margin: 35px;
}


.download{
    height: 20px;
    width: 20px;
    margin: 5px;
    border: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    padding: 5px;

}
.navigation-right{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.install-App{
    color: white;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.install{
    background-color:black;
        border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.notification,.contact{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 25px;
    background-color: black;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    
}
.notification:hover,.contact:hover,.install:hover{
    transform: scale(1.1);
}

.original-install{
    font-size: 20px;
    /* height: 50px; */
    color: white;
    /* font-weight: bold;    */
    width: 150px;
   
}
.whole-grid{

    padding:20px ;
}
.album-1st{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    column-gap: 10px;
    height: 80px;
    border-radius: 10px;
    background-color: #30413b;
    border: none;
    cursor: pointer;
    padding: 0px;
    transition: transform 0.3s ;
}
.image-of-play{
    height: 27px;
    width: 27px;
    padding-top: 2px;
}
.album-1st-play{
    opacity: 0;
    /* b */background-color: greenyellow;
    height: 30px;
    width: 30px;
    border-radius: 25px;
    padding: 5px;
    /* border-style: solid; */
    /* border-color: black; */
    box-shadow: 0px 0px 50px;
    /* transition: tarnsform 0.5s; */
}
.album-1st:hover .album-1st-play{
    transition: opacity 1s;
    opacity: 1;
}
.album-1st:hover  {
    background-color: #525455;
    /* opacity: 1; */
   
}


.image-of-play:hover{
    transform: scale(1.1);
}

.album-1st-text{
    color: white;
    padding-top: 20px;
    height: 50px;
    padding-right: 110px;
}
.album-1st-img img{
    margin: 0px;
    height: 80px;
    width: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.album-1st-text{
    font-weight: bold;
    font-size: 20px;
}
.grid-1st{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    
}

.good-morning{
    color: white;
    font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif),sans-serif;
    font-size: 3rem;
    margin-left: 40px;
    font-weight: bold;
}